:root {
	--main-orange: #ff9f00;
	--main-gray: #f4f4f4;
	--dark-gray: #a19d9d;
	--gray-black: #626262;
	--white: #ffffff;
}

// Шрифты
@font-face {
	font-family: "Montserrat";
	src: url("/src/style/fonts/Montserrat-Regular.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Montserrat-Bold";
	src: url("/src/style/fonts/Montserrat-Bold.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Shantell_Sans";
	src: url("/src/style/fonts/ShantellSans-Regular.woff2") format("woff2");
}

// Стили
a {
	text-decoration: none;
}

h1 {
	text-align: center;
}

body {
	font-family: Montserrat, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

hr {
	border: none;
	border-top: 3px solid var(--main-orange);
	border-radius: 10px;
}
