.panel {
	background-color: #ffdca7;
	font-family: Montserrat;
	margin-top: 2x;
	height: 60vh;
	width: fit-content;
	display: flex;
	padding: 10px;
	padding-top: 30px;
	justify-content: space-between;

	div {
		width: 30%;
		text-align: center;
		justify-content: center;
	}
}

.listOfFlight {
	display: flex;

	.flights {
		font-family: Montserrat;
		color: var(--dark-gray);
		display: flex;
		width: 60%;
		flex-direction: column;
		justify-content: space-between;
		margin: 20px;
	}
	.flight-card {
		background-color: var(--main-gray);
		margin: 10px;
		border-radius: 10px;
		height: 20vh;
		margin-right: 20px;
		padding: 10px;
		display: flex;

		.flight-info {
			padding: auto;
			padding-inline: 10px;
			display: flex;
			width: 75%;
			flex-direction: column;

			.time {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;

				hr {
					width: 20%;
					border-color: var(--main-orange);
					color: var(--main-orange);
				}
			}

			.time,
			.trip-towns,
			.other-info {
				display: flex;
				flex-grow: 1;
				justify-content: space-between;
			}

			.trip-towns {
				.city {
					font-family: Montserrat-Bold;
					font-size: 130%;
				}

				.station {
					font-size: small;
				}
			}

			.travel-time {
				color: black;
				font-weight: 300;
			}

			.departure-time,
			.arrival-time {
				color: black;
				font-family: Montserrat-Bold;
				font-weight: 700;
				padding: 1%;
				font-size: 200%;
			}

			.details-link {
				color: var(--dark-gray);
			}
		}

		.flight-price {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			font-family: Montserrat-Bold;
			color: black;

			.price {
				font-size: 300%;
				font-weight: 700;
			}
		}
	}

	.sortFlights {
		display: flex;
		flex-direction: column;
		width: 30%;
		.stops {
			text-align: center;
			font-size: 150%;
			font-weight: bold;
			background-color: var(--main-gray);
			border-radius: 10px;
			height: 20vh;
			margin: 20px;
			padding: 10px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			input {
				font-size: 75%;
			}

			hr {
				width: 100%;
			}
		}
	}

	.sort {
		font-size: 150%;
		font-weight: bold;
		background-color: var(--main-gray);
		border-radius: 10px;
		height: 10vh;
		margin: 20px;
		padding: 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: center;

		hr{
			border-color:white;
		}
		.sortButton{
		display: flex;
		flex-direction: row;
		background-color:var(--main-orange);
		height: 60%;
		margin: -10px;
		border-radius:10px;
		
		.sortButtonTime, .sortButtonPrice{
			background-color:var(--main-orange);
			color:white;
			border: none;
			border-radius:10px;
			width: 50%;
		}
		}
	}
}

.order-button {
	width: 100%;
	height: 30%;
	background-color: var(--main-orange);
	border: none;
	border-radius: 20px;
	color: white;
	font-size: medium;
}
